<img src="/images/yo.jpg" alt="David Dominguez" width="178" height="180" align="left">
<p><h3>Autor</h3></p>
<p>Nombre: David A. Dominguez Ek.</p>
<p>Ocupación: Estudiante.</p>
<p>Especialidad: Dispositivos móviles.</p>